.artPage {
  display: grid;
  /* grid-template-rows: 1fr 6fr; */
  grid-template-rows: 15vh 85vh;
}

.artHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.artBody {
  display: grid;
  grid-template-rows: 2fr 6fr 2fr;
}

.controlBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.artBar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lowerMarginBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
